<div class="card-panel no-top-margin">

    <div class="input-field col s12">
        <form>
            <div class="row">
                <div class="input-field col s12 m6 l6">
                    <em class="material-icons prefix">date_range</em>
                    <input type="date" id="filtro-fecha-inicial-tir-masiva">
                    <label for="filtro-fecha-inicial-tir-masiva" class="up-label">Fecha Inicial:</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <em class="material-icons prefix">date_range</em>
                    <input type="date" id="filtro-fecha-final-tir-masiva">
                    <label for="filtro-fecha-final-tir-masiva" class="up-label">Fecha Final:</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <em id="search-segmento-informe-tir-masiva" class="material-icons prefix">search</em>
                    <input type="text" id="autocomplete-segmento-informe-tir-masiva" class="autocomplete" maxlength="30">
                    <label for="autocomplete-segmento-informe-tir-masiva" class="up-label">Segmento:</label>
                </div>
                <div class="input-field col s12 m6 l6">
                    <em id="search-comercial-informe-tir-masiva" class="material-icons prefix">search</em>
                    <input type="text" id="autocomplete-comercial-informe-tir-masiva" class="autocomplete" maxlength="30">
                    <label for="autocomplete-comercial-informe-tir-masiva" class="up-label">Comercial:</label>
                </div>
            </div>
            <a class="waves-effect waves-light btn consultar-informe-tir-masiva">CONSULTAR</a>
        </form>
    </div>

    <table id="table-data-tir-masiva" class="table table-striped table-bordered table-cliente-tirnoper">
        <caption></caption>
        <thead>
            <tr>
                <th scope="col">CLIENTE</th>
                <th scope="col">SALDO INICIAL</th>
                <th scope="col">ENTRADAS</th>
                <th scope="col">SALIDAS</th>
                <th scope="col">SALDO FINAL</th>
                <th scope="col">TIR</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>